[Unit]
Description=CrossID Backend
After=network.target
Documentation=http://crossid.io/docs

[Service]
Type=notify
ExecStart=/usr/local/bin/crossid server start
Restart=on-failure
EnvironmentFile=-{{crossid_install_dir}}/etc/{{crossid_service_name}}.env
User={{crossid_user}}
Group={{crossid_group}}
WatchdogSec=1s

[Install]
WantedBy=multi-user.target
