# Init script variables for crossid backend

# DB
CID_SERVER_ADDR={{crossid_bind}}:{{crossid_port}}
CID_DB_CONNECTION_STRING={{crossid_db_connection_string}}
{% if crossid_db_credentials %}
CID_DB_CREDENTIALS={{crossid_db_credentials}}
{% endif %}

# Logging
CID_LOG_LEVEL=info
CID_LOG_FILE={{crossid_logfile}}

# Job Scheduler
CID_JOBSCHED_TENANT_ID={{crossid_tenant}}
