{
  "id": "{{crossid_tenant}}",
  "host": "{{crossid_dns}}",
  "name": "{{crossid_tenant}}",
  "logoUrl": "",
  "searchBackend": "",
  "authn": {
    "oneFactor": {
      "method": "bearer"
    }
  },
  "vault": {
    "method": "INMEM",
    "params": {}
  }
}
