[Unit]
Description=CrossID WebUI
After=network.target
Documentation=http://crossid.io/docs

[Service]
Type=simple
ExecStart={{crossidwebui_install_dir}}/bin/serve --dir {{crossidwebui_install_dir}}/serve --bind {{crossidwebui_bind}}:{{crossidwebui_port}}
Restart=on-failure
User={{crossidwebui_user}}
Group={{crossidwebui_group}}

[Install]
WantedBy=multi-user.target
