logLevel = "DEBUG"

{% if crossidproxy_pem is defined %}
defaultEntryPoints = ["http", "https"]
{% else %}
defaultEntryPoints = ["http"]
{% endif %}

[entryPoints]
  [entryPoints.http]
  address = ":8080"
{% if crossidproxy_pem is defined %}
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":8443"
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
      certFile = "{{crossidproxy_cert_dir}}/crossid.pem"
      keyFile = "{{crossidproxy_cert_dir}}/crossid.key"
{% endif %}

[file]

[frontends]
  [frontends.api]
  backend = "api"
    [frontends.api.routes.api]
    rule = "PathPrefix:/api"
  [frontends.webui_admin]
  backend = "webui"
    [frontends.webui_admin.routes.admin]
    rule = "PathPrefix:/admin"
  [frontends.webui_portal]
  backend = "webui"
    [frontends.webui_portal.routes.portal]
    rule = "PathPrefix:/portal"

[backends]
  [backends.api]
    [backends.api.servers.server1]
    url = "http://{{crossid_dns}}:8000"
    weight = 1
  [backends.webui]
    [backends.webui.servers.server1]
    url = "http://{{crossid_dns}}:8005"
    weight = 1
